# this process will work directly, not github action
version: "3.8"

services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: frontend-app
    ports:
      - "80:80"
    networks:
      - appnet
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-app
    ports:
      - "84:80"
    environment:
      DB_HOST: mysql-db
      DB_USERNAME: admin
      DB_PASSWORD: Devops123
      DB_PORT: 3306
    networks:
      - appnet
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: Cloud122
      MYSQL_DATABASE: test
      MYSQL_USER: admin
      MYSQL_PASSWORD: Devops123
    ports:
      - "3306:3306"
    networks:
      - appnet
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  mysql_data:

networks:
  appnet:
    driver: bridge
